.features-container {
  background-color: #c4d4cb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px 0;
  text-align: center;

  @media (max-width: 480px) {
    padding-bottom: 50px;
  }

  h1 {
    color: rgb(84, 83, 83);
    font-size: 50px;
    margin-bottom: 60px;

    @media (max-width: 480px) {
      font-size: 30px;
    }
  }

  .productCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 480px) {
      margin-top: -50px;
    }
  }
}
